<div class="login-page">
    <div [hidden]="!hasError" class="alert alert-warning">
      <strong>Error!</strong> {{errorMessage}}<br />
      <span [hidden]="!badPassword">Forgot your password? <a [routerLink]="[ '/password' ]">Recover password</a></span>
    </div>
    <div class="form">
      <h2 class="text-center mb-4">Recover password</h2>
      <form class="login-form" (ngSubmit)="onSubmit(recoverForm)" #recoverForm="ngForm">
        <input type="text" placeholder="Email" required ngModel #email="ngModel" name="email" autofocus />
        <button type="submit" [disabled]="!recoverForm.form.valid">Recover</button>
      </form>
    </div>  
  </div>