<div class="login-page">
  <div [hidden]="!hasError" class="alert alert-warning">
    <strong>Error!</strong> {{errorMessage}}<br />
    <span [hidden]="!badPassword">Forgot your password? <a [routerLink]="[ '/password' ]">Recover password</a></span>
  </div>
  <div class="form">
    <h2 class="text-center mb-4">Login</h2>
    <form class="login-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <input type="text" placeholder="Email" required name="email" ngModel #email="ngModel" autofocus />
      <input type="password" placeholder="Password" required name="password" ngModel #password="ngModel" />
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
      <p class="mt-3">Not registered? <a [routerLink]="[ '/signup' ]">Sign up here</a></p>
      <p>Forgot your password? <a [routerLink]="[ '/password' ]">Recover here</a></p>
    </form>
  </div>  
</div>