<div *ngIf="idea" class="float-right mr-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="image_vote up"  (click)="vote_Up(idea)" [ngClass]="{'isVoted': isVoted, 'isOwner':isOwner, 'isPositive':hasVotePositive, 'isChanged':isChanged}"></div>    
            
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="number-votes">{{idea.positiveVotes}}</div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="image_vote down" (click)="vote_Down(idea)" [ngClass]="{'isVoted': isVoted,'isOwner':isOwner, 'isNegative':hasVoteNegative, 'isChanged':isChanged}"></div>
            
        </div>
    </div>   
</div>                  