<div class="container">
  <div class="signup-page">
    <div class="form">
      <h1>Sign up</h1>
      <p>You need to create an account in order to use IdeaManager. Please fill in the information below and click "Sign up".</p>
      <p>Following your sign up, a manager from your organization will need to approve your account, before you can browse existing ideas and create new ones.</p>
      <div [hidden]="!hasError" class="alert alert-danger" role="alert">
        <strong>An error occured:</strong> {{errorMessage}}
      </div>
      <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" class="signup-form">
        <div class="form-group">
          <input type="test" class="form-control" id="name" required name="name" ngModel #name="ngModel" autofocus placeholder="Full name">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger mt-1">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control mb-0" id="email" aria-describedby="emailHelp" required name="email" ngModel #email="ngModel" placeholder="Email address">
          <small id="emailHelp" class="form-text text-muted text-left mt-0">We'll never share you email address with anyone else</small>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger mt-1">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" required name="password" ngModel #password="ngModel" placeholder="Password">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger mt-1">
            Password is required
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Sign up</button>
      </form>
    </div>
  </div>
</div>