<div class="container">
  <div *ngIf="idea | async; let idea; else loading">
    <idea [idea]="idea" full="true"></idea>

    <h2 class="mt-5">Comments</h2>
    <create-comment [idea]="idea"></create-comment>

    <div *ngFor="let comment of comments | async">
      <comment-details [comment]="comment"></comment-details>
    </div>
    <h3 class="text-center"><i class="text-center" [hidden]="(comments | async)?.length > 0">No comments yet</i></h3>
  </div>

  <ng-template #loading>
    <div class="text-center">
      <h1>Loading idea...</h1>
    </div>
  </ng-template>
</div>
